<footer class="bg-dark text-light p-5 text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 text-start">
        <h4>A little about eTeam</h4>
        <p>
          eTeam was formed in 1999 with the goal of becoming the company of
          choice for clients, talent and staffing professionals. Today, we’re
          one of the fastest-growing global companies and ranked as one of the
          best companies to work for by Staffing Industry Analysts. We aspire
          everyday to do quality work for our clients and help our talent work
          at some of the most amazing companies.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <h4>Certified</h4>
        <div>
          <img
            src="../../assets/img/GoldSeal_National.png"
            alt=""
            height="160px"
          />
        </div>
        <p>The Joint Commission</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-start ps-3">
        <h4>Solutions</h4>
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >Healthcare Talent Solutions<i
                class="bi bi-chevron-right ms-1"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >Global Talent Solutions<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >Healthcare Skills Checklist<i
                class="bi bi-chevron-right ms-1"
              ></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >Submit Application<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-start">
        <h4>Global Offices</h4>
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >US<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >Canada<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >APAC<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link"
              >EMEA<i class="bi bi-chevron-right ms-1"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
